In [1]:
import pandas as pd 
import numpy as np 
import math

https://www.trulia.com/home_prices/Illinois/Chicago-heat_map/

In [2]:
data = pd.read_csv("../../../crimesInChicagoData/dataset.csv", error_bad_lines = False)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Unnamed: 0,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
0,0,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1,0,3
1,1,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1,0,5
2,2,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20,11,6
3,3,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30,20,3
4,4,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1,1,3

In [4]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [5]:
data.head()

,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
0,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1,0,3
1,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1,0,5
2,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20,11,6
3,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30,20,3
4,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1,1,3

In [6]:
districtsList = [3, 4, 6, 7, 8, 9, 10, 11, 12, 25]

In [7]:
subsetDistrict = data.loc[data['District'] == 2]
for district in districtsList:
    tmpDistrict = data.loc[data['District'] == district]
    subsetDistrict = subsetDistrict.append(tmpDistrict)

In [8]:
subsetDistrict['District'].unique()

array([2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 25.0], dtype=object)

In [9]:
len(subsetDistrict)

4210729

In [10]:
locationsList = ['RESIDENCE', 'APARTMENT', 'SIDEWALK']

In [11]:
subsetLocation = subsetDistrict.loc[subsetDistrict['Location Description'] == 'STREET']
for location in locationsList:
    tmpLocation = subsetDistrict.loc[subsetDistrict['Location Description'] == location]
    subsetLocation = subsetLocation.append(tmpLocation)

In [12]:
subsetLocation['Location Description'].unique()

array(['STREET', 'RESIDENCE', 'APARTMENT', 'SIDEWALK'], dtype=object)

In [13]:
len(subsetLocation)

2847269

In [14]:
crimesList = ['$500 AND UNDER', 'OVER $500', 'TO VEHICLE', 'TO PROPERTY', 'AUTOMOBILE', 'FORCIBLE ENTRY', 'DOMESTIC BATTERY SIMPLE', 'FROM BUILDING']

In [15]:
subsetCrime = subsetLocation.loc[subsetLocation['Description'] == 'SIMPLE']
for crime in crimesList:
    tmpCrime = subsetLocation.loc[subsetLocation['Description'] == crime]
    subsetCrime = subsetCrime.append(tmpCrime)

In [16]:
subsetCrime['Description'].unique()

array(['SIMPLE', '$500 AND UNDER', 'OVER $500', 'TO VEHICLE',
       'TO PROPERTY', 'AUTOMOBILE', 'FORCIBLE ENTRY',
       'DOMESTIC BATTERY SIMPLE', 'FROM BUILDING'], dtype=object)

In [17]:
len(subsetCrime)

1553359

In [18]:
subsetArrests = subsetCrime.loc[subsetCrime['Arrest'] == True]

In [31]:
subsetArrests.head()

,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
4738,0460,BATTERY,SIMPLE,STREET,True,False,2,2002.0,0,0.000000,2,8,15,4
7547,0460,BATTERY,SIMPLE,STREET,True,True,2,2001.0,41.828,-87.608192,1,1,2,0
8712,0460,BATTERY,SIMPLE,STREET,True,False,2,2001.0,41.8244,-87.607308,1,2,18,1
9999,0460,BATTERY,SIMPLE,STREET,True,False,2,2001.0,41.802,-87.619551,1,4,20,3
11754,0460,BATTERY,SIMPLE,STREET,True,True,2,2001.0,41.8013,-87.606099,1,6,18,5

In [19]:
len(subsetArrests)

175734

In [20]:
from bokeh.io import output_file, show
from bokeh.models import (
  GMapPlot, GMapOptions, ColumnDataSource, Circle, Range1d, PanTool, WheelZoomTool, BoxSelectTool, ZoomInTool, ZoomOutTool, HoverTool
)

In [122]:
map_options = GMapOptions(lat = 41.8, lng=-87.6,
                         map_type = 'roadmap',
                         zoom = 10)

In [123]:
plot = GMapPlot(x_range=Range1d(), 
                y_range=Range1d(), 
                map_options=map_options,
                api_key ='AIzaSyD0jgCd0kmm_5IiLuw-dsIkH4oW4POnf5Y' )
plot.title.text = "Chicago"
plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool(), ZoomInTool(), ZoomOutTool(), HoverTool())

In [124]:
source = ColumnDataSource(
    data=dict(
        lonOver500 = subsetArrests.loc[subsetArrests['Description'] == 'OVER $500']['Longitude'].tolist(),
        latOver500 = subsetArrests.loc[subsetArrests['Description'] == 'OVER $500']['Latitude'].tolist(),
        lonUnder500 = subsetArrests.loc[subsetArrests['Description'] == '$500 AND UNDER']['Longitude'].tolist(),
        latUnder500 = subsetArrests.loc[subsetArrests['Description'] == '$500 AND UNDER']['Latitude'].tolist()
    )
)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/bokeh/models/sources.py:137: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('latOver500', 2924), ('latUnder500', 6814), ('lonOver500', 2924), ('lonUnder500', 6814)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [125]:
circleOver500 = Circle(x="lonOver500", y="latOver500", size=10, fill_color="red", fill_alpha=0.6, line_color=None)

In [126]:
circleUnder500 = Circle(x="lonUnder500", y="latUnder500", size=10, fill_color="blue", fill_alpha=0.6, line_color=None)

In [127]:
plot.add_glyph(source, circleOver500)
plot.add_glyph(source, circleUnder500)

GlyphRenderer(id='4199553c-e5d1-4f71-b46d-8cc42f2ccd96', ...)

In [128]:
output_file("arrestsOverAndUnder500.html")
show(plot)