In [1]:
import pandas as pd 
import numpy as np 
import math
from kmodes.kmodes import KModes

In [2]:
%config IPCompleter.greedy=True

In [16]:
data = pd.read_csv("../../../crimesInChicagoData/dataset.csv", error_bad_lines = False)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.head()

,Unnamed: 0,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
0,0,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1,0,3
1,1,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1,0,5
2,2,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20,11,6
3,3,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30,20,3
4,4,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1,1,3

In [17]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [18]:
data.head()

,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
0,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4,2004.0,0,0.000000,1,1,0,3
1,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9,2003.0,41.8172,-87.637328,3,1,0,5
2,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14,2004.0,0,0.000000,6,20,11,6
3,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25,2004.0,0,0.000000,12,30,20,3
4,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22,2003.0,41.6918,-87.635116,5,1,1,3

In [7]:
data["Year"].value_counts()

2008.000000    852053
2006.000000    794684
2009.000000    783900
2010.000000    700691
2007.000000    621848
2001.000000    568517
2002.000000    490879
2003.000000    475913
2005.000000    455811
2004.000000    388205
2011.000000    352066
2012.000000    335670
2013.000000    306703
2014.000000    274527
2016.000000    265462
2015.000000    262995
2017.000000     11357
41.789832           1
Name: Year, dtype: int64

In [13]:
def filterYear(year):
    df = finalDf[finalDf.Year==year]
    return df

In [114]:
def makeClusters(data, year, numClusters):
    km = KModes(n_clusters=numClusters, init = "Cao", n_init = 1, verbose=1)
    subsetDf = data.loc[data['Year'] == year].drop(['IUCR', 'Primary Type', 'Year', 'Latitude', 'Longitude'], axis = 1)
    subsetData = subsetDf.values
    fitClusters = km.fit_predict(subsetData)
    clusterCentroidsDf = pd.DataFrame(km.cluster_centroids_)
    clusterCentroidsDf.columns = subsetDf.columns
    
    return fitClusters, clusterCentroidsDf

In [28]:
def labelsDf(year, num, clustersDf):
    df = filterYear(year)
    df = df.reset_index()
    clustersDf = pd.DataFrame(clustersDf)
    if(num == 5):
        clustersDf.columns = ['clusters_5']
    elif(num == 10):
        clustersDf.columns = ['clusters_10']
    else:
        clustersDf.columns = ['clusters_25']
    combinedDf = pd.concat([df, clustersDf], axis = 1)
    return combinedDf

In [109]:
clusterData = data

In [110]:
clusterData['District'] = pd.DataFrame(clusterData['District']).applymap(str)

In [61]:
clusterData.head()

,Description,Location Description,Arrest,Domestic,District,Year,Latitude,Longitude,Month,Day,Hour,Weekday
0,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,4.0,2004.0,0,0.000000,1,1,0,3
1,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,9.0,2003.0,41.8172,-87.637328,3,1,0,5
2,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,14.0,2004.0,0,0.000000,6,20,11,6
3,FINANCIAL ID THEFT: OVER $300,OTHER,False,False,25.0,2004.0,0,0.000000,12,30,20,3
4,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,22.0,2003.0,41.6918,-87.635116,5,1,1,3

In [ ]:
clusterData2001 = makeClusters(clusterData, 2001, 10)